[user]
    name = Flavio Amieiro
    email = amieiro.flavio@gmail.com
	signingkey = 0488FBEF
[core]
    pager = less -FXRS
[color]
    diff = auto
    status = auto
    branch = auto
    pager = true
    ui = auto
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckobjects = true
